.watch {
	width: 650px;
	height: 650px;
	margin: 100px auto;
	border: 20px solid #c1c7c1 ;
/*	box-shadow: 0px 0px 20px 3px  #FCFCFC inset;*/
	box-shadow: 0px 0 20px 12px rgba(0, 0, 0, 0.9) inset;
	border-radius: 50%;
	position: relative;
	margin: 5px auto;
	z-index: 10;
	background: #535353;	
	transform-style: preserve-3d;


	
}
.watch:hover {
	transform: perspective(650px) rotateY(15deg);
	text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
	transform-style: preserve-3d;
	
}

.watch::before {
	content: '';
	position: absolute;
	width: 650px;
	height: 650px;
	background: linear-gradient(to top left, transparent, #c1c1c1, transparent);	 
	transition: 0.5s;
	border-radius: 50%;


}


/* 原点 */

.watch-origin {
	width: 20px;
	height: 20px;
	background: #FCFCFC;
	top: 325px;
	left: 325px;
	z-index: 14;
	position: absolute;
	border-radius: 50%;
	
}


/* 指针 */

.clock-line {
	position: absolute;
	z-index: 20;
	transform: rotateY(90deg) translateZ(50px);
}

.watch-second {
	width: 275px;
	height: 1px;
	background: red;
	top: 337px;
	left: 333px;
	transform-origin: 0% 50%;
}

.watch-minute {
	width: 135px;
	height: 2px;
	background: #f3f3f3;
	top: 337px;
	left: 333px;
	transform-origin: 0% 50%;
	transform: rotate(0deg);
}

.watch-hour {
	width: 100px;
	height: 2px;
	background: #f9f9f9;
	top: 337px;
	left: 333px;
	transform-origin: 0% 50%;
	transform: rotate(0deg);
}


/* 时钟数字 */

.clock-num {
	width: 50px;
	height: 50px;
	font-size: 22px;
	text-align: center;
	line-height: 300px;
	position: absolute;
	z-index: 8;
	transform-origin: left bottom;
	color: #FCFCFC;
	font-family: fantasy, 'Trebuchet MS';
	transform: rotateY(-10deg);
}

.em_num {
	font-size: 28px;
}


/* 日期 时间 */

.date {
	width: 160px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	position: absolute;
	top: 378px;
	left: 255px;
	z-index: 11;
	color: #FCFCFC;
	font-weight: bold;
	font-family: '微软雅黑';
	background: hsla(0, 0%, 100%, .3);

}

.time-info {
	width: 92px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	top: 420px;
	left: 285px;
	z-index: 11;
	background-color: #555;
	padding: 0;
	box-shadow: 0px 0px 9px 2px #222 inset;
	background: hsla(0, 0%, 100%, .3);
	
}

.time {
	width: 30px;
	height: 30px;
	text-align: center;
	float: left;
	color: #FCFCFC;
	font-weight: bold;
}

#minute-time {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}


/* 刻度 */

.clock-scale {
	width: 235px;
	height: 3px;
	transform-origin: left bottom;
	z-index: 7;
	position: absolute;
	top: 333px;
	left: 333px;
	background: #c0c0c0;
    -webkit-mask: radial-gradient(transparent 111px, #c0c0c0 111px,transparent);
  	mask: radial-gradient(transparent 111px, #c0c0c0 111px);
    transition: clip-path .2s;
  
   
}
.clock-scale div:before,
{
	content: '';
	display: block;
	width: 5px;
	height: 5px;	
	border-radius: 50%;
    filter: blur(1px);
}


}
.scale-show {
	width: 12px;
	height: 2px;
	background-color: #fcfcfc;
	float: left;
}
.scale-hidden {
	width: 183px;
	height: 2px;
	float: left;
}